<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Schedule Generator</title> 
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand" styles="margin-left: 4%">Course Scheduler and Review System</h1>
            </div>
        </div>
        <ul class="nav navbar-default navbar-nav navbar-right" styles="margin-right: 5%">
            <li id="home"><a href="/posts"><strong>See Reviews</strong></a></li>
        </ul>
    </nav>

</head>
<body background = "https://wallup.net/wp-content/uploads/2019/10/593967-clemson-tigers-college-football.jpg">