<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Class Recommandation System</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles2.css">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Review System</p>
    </div>
  </div>
  <ul class="nav navbar-default navbar-nav navbar-right" styles="margin-right: 5%">
    <li id="home"><a href="/compose"><strong>Add Reviews</strong></a></li>
  </ul>
</div>
  </nav>

  <body background = "https://wallup.net/wp-content/uploads/2019/10/593967-clemson-tigers-college-football.jpg">
    <div class="container">
    
        <%for (var i = 0; i < Posts.length; i++) { %>
                <h2><%= Posts[i].title %></h2><p><%= Posts[i].content%></p> 
                                
       <%}%>

    </div>

  </body>
  </html>
    